
<app-navbar></app-navbar>
<form>
<div class="card text-white bg-success mb-3 mt-3 mx-auto" style="width: 18rem;">
  <div class="card-header">
  </div>
  <div class="card-body bg-white">
    <h5 class="Card title text-dark">Welcome to the quiz!</h5>
  </div>
</div>

<div class="card  border-success mb-3 mx-auto" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">question 1 </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        option 1
      </label>
    </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          option 2
        </label>
      </div>
      
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          option 3
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          option 4
        </label>
      </div>
    </li>
  </ul>
</div>

<div class="card  border-success mb-3 mx-auto" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">question 2 </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        option 1
      </label>
    </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          option 2
        </label>
      </div>
      
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          option 3
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          option 4
        </label>
      </div>
    </li>
  </ul>
</div>

<div class="card  border-success mb-3 mx-auto" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">question 3 </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        option 1
      </label>
    </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          option 2
        </label>
      </div>
      
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          option 3
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          option 4
        </label>
      </div>
    </li>
  </ul>
</div>
<button type="submit" class="btn btn-primary mx-auto">Submit</button>
</form>